<div style="display: flex" class="movieView">
  <mat-card *ngFor="let movie of movies" class="movieCard">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img class="img" src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie)" color="primary">
        Genre
      </button>
      <button mat-button (click)="openDirectorDialog(movie)" color="primary">
        Director
      </button>
      <button mat-button (click)="openSynopsisDialog(movie)" color="primary">
        Synopsis
      </button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
