<mat-card class="loginContainer">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="loginUser()">
      <!--   <label for="Username">Username: </label> -->
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          [(ngModel)]="loginData.Username"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="loginData.Password"
          name="Password"
          type="password"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions
    ><button
      mat-raised-button
      (click)="loginUser()"
      color="primary"
      type="submit"
    >
      Login
    </button>
    <a (click)="closeDialog()"> Close </a></mat-card-actions
  >
</mat-card>
