.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

mat-card {
  color: #03045e;
}

mat-card-title {
  color: #0077b6;
}

.container {
  padding: 24px;
  background-color: #03045e;
  min-height: 100vh;
}

.subtitle {
  color: #0077b6;
}

img {
  padding: 10px;
  border-top: 3px solid #03045e;
  border-bottom: 3px solid #03045e;
  cursor: pointer;
}

mat-card-header {
  padding: 16px;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 8px 20px 0;
}

.favorite-icon {
  margin: 5px 10px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}
